li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  margin: 0 auto;
}
body{
  background-color: rgb(211, 188, 86);
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
