li {
  list-style-type: none;
  padding: 20px;
  margin: 20px;
  background: rgb(82, 73, 69);
  margin: 0 auto;
  border-radius: 15%;

}
 html {
   background-color: rgb(158, 112, 95);
   color: cornsilk;
 }
 h2 {
   text-align: center;
 }
 body {
  background-image: url("wood.jpg");

}
 /* .toeat {
background-color: rgb(43, 43, 153);
 }
 .eaten{
  background-color: rgb(43, 43, 153);
 } */
h1 {
  text-align: center;
  color: aliceblue;
  font-style: italic;
}
.main_panel {
width: 70%;
color: aliceblue;
}
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
.submit-panel{
  margin-top: 50px;
  text-align: center;
}
.form-group {
  margin-bottom: 5px;
}

img {
  margin-left: 400px;
}
